force-app/main/default/flows/Sales_Area_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Sales_Area_Id_is_Null</name>
        <label>Check Sales Area Id is Null</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Sales_Area_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Update Existing Record</defaultConnectorLabel>
        <rules>
            <name>If_Sales_Area_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesAreaId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sales_Area_Record</targetReference>
            </connector>
            <label>If Sales Area is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CombinationKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.SAP_Code__c} &amp; &apos;-&apos; &amp; {!$Record.Sales_Org__r.Sales_Org_Code__c} &amp; &apos;-&apos; &amp;
{!$Record.Distribution_Channel__r.Distribution_Channel_Code__c} &amp; &apos;-&apos;  &amp;
{!$Record.Division__r.Division_Code__c}</expression>
    </formulas>
    <interviewLabel>Sales Area Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Area Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sales_Area_Record</name>
        <label>Create Sales Area Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>$Record.Account_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>$Record.Distribution_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <elementReference>$Record.Sales_Org__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Area__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Sales_Area_records</name>
        <label>Get Sales Area records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Area_Id_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Combination_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CombinationKey</elementReference>
            </value>
        </filters>
        <object>Sales_Area__c</object>
        <outputAssignments>
            <assignToReference>SalesAreaId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Area_Records</name>
        <label>Update Sales Area Records</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesAreaId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Type__c</field>
            <value>
                <elementReference>$Record.Account_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>$Record.Distribution_Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <elementReference>$Record.Sales_Org__c</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Area__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Area_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Org__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distribution_Channel__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SAP_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>SalesAreaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
